*{
  margin-left:5rem
}
.accordion{
    border: 1px solid rgb(183, 177, 177);
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
}
.accordion-body{
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }
  
  .header{
    background-color: rgb(40, 135, 164);
    cursor: pointer; 
    height: fit-content;
    text-align: left;
    display: flex ;
    padding: 0.5rem 1rem;
    cursor: pointer;
    justify-content: space-between;
    color: white;
  }
  .header-open{
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .header-close{
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

  }